h2
        {
            background-color: yellow;
            color: white;
        }
    .bujji{
        background-color: green;
        color: white;
    }
    .bajji{
        background-color: red;
        color: yellow;
    }
    #chitti{
        background-color: beige;
        color: black;
    }